
/* CSS Document */


body {

	margin: 0px;
	padding: 0px;
	color: #b6b6b6;
	background: #000 url(images/bg.jpg) repeat-y center;
	font: normal 13px/18px "Trebuchet Ms", "Lucida Grande", sans-serif;
	
}


#wrap {

	width: 800px;
	overflow: hidden;
	position:relative;
	margin: 0px auto;
    background: #000;
	
}

#content {

	width: 550px;
	float: left;
	display:inline;
	text-align: justify;
	padding: 10px;
	margin: 8px;

}


h3, h4 {

	padding-top: 5px;
	padding-bottom: 15px;

}

a, a:visited{

	color: #00e0ff;
	text-decoration:none;
}

a:hover{

	text-decoration:underline;

}


#logo {

	background: url('images/r.jpg') no-repeat;
	height: 255px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;

}


#tagline {

	height: 50px;
	width: 350px;
	float: right;
	text-align: left;
	margin-top: 20px;
	margin-right: 25px;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;

}

#pages {

	height: 40px;
	margin: 0px auto 0px;
	width:800px;
    background: #2d2d2d;

}


#pages ul {

	padding: 10px 0px 0px;
	white-space: nowrap;
	list-style-type: none;
	margin: 0px;	

}

#pages ul li {

	float:right;

}


#pages ul li.current_page_item a  {

	text-decoration: underline;

}

#pages ul li a {

	display: block;
	text-decoration: none;
    border-left: 1px dotted #333;
	font-size:12px;
	padding:5px 10px 5px 10px;
	text-transform: uppercase;
	color: #999999;

}

#pages ul li a:hover {

	color: #333333;

}


#footer {

	clear: both;
	text-align: center;
	height: 50px;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #666;
	padding: 0px;
	margin-top: 50px;
	background: #000 url(images/top.png) repeat-y center;
	
}

#footer p{

	padding:10px;
	margin:0px;

}

#posts {
	
	text-align: right;
	color: #5de8ff;
	
}

.read { /** READ MORE */
	
	padding-top: 6px;
	font-weight: bold;
	text-align: right;
	font-size: 11px;
		
}


#sidebar {

	width: 170px;
	float: right;
	line-height: 1.5em;
	display:inline;
	margin: 8px 8px 8px 0px;
	padding: 10px;
	font-size:10px;

}


#sidebar h2 {

	color: #bfbfbf;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 8px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
	border-bottom: 1px solid #4cf5ff;
	font-size: 11px;
	text-transform: uppercase;
	
}

#sidebar ul {

	list-style: none;
	margin: 0 0 18px 0;
	padding: 0;

}

#sidebar ul li {

	display: inline;
	margin:0;
	padding:0

}

#sidebar li{

	list-style: none;
}


#sidebar ul li a {

	border-bottom: 1px dotted #666;
	color: #00e0ff;
	display: block;
	text-decoration: none !important;
	margin-left: 0px;
	padding: 4px 0px 4px 25px;
	background-image: url('images/bull.gif');
	background-repeat: no-repeat;
	background-position: 10px 50%;
	font-size: 13px;
	
}


#sidebar ul li a:hover{

	color: #00e0ff;
	background-color: #004d64;

}




#searchdiv {

	margin-top: 8px;
	margin-bottom: 15px;

}


#searchform br {
	display: none;
}

#searchform #s {

	width: 100px;
	height: 22px;
	padding: 4px 5px 0px 5px;
	border: 1px dotted #00e0ff;
	background: #121605;
	margin-right: 2px;
	color: #00ecff;
	font-weight: normal;
	
}
/* search form button - to specify button only use input[type="submit"] */
#searchform input {

	background: #121605;
	border: 1px dotted #00f9ea;
	width: 25px;
	height: 28px;
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #00fdff;
	vertical-align: middle;
	
}




/* SA COPIED */


.entry{

	padding-top: 0px;
	padding-bottom: 30px;
	padding-left: 0px;
	/*font-size: 0.80em;*/
	line-height: 1.5em;

}


h3.etitle, h3 {

	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 5px;

}

h3.etitle a, h3.etitle a:visited, h3 a{

	color: #5de8ff;
	border-style: none;
	font-size: 18px;
	text-transform: none;
	font-variant: small-caps;
	font-weight: bold;
	
}

h3.etitle a:hover, h3 a:hover{

text-decoration:underline;
}

.emeta{

	height: 35px;
	margin-top: 0;
	color: #bbb;
	border-top:dotted 1px #666;
	padding-top:4px;
	margin-bottom: 8px;
	font: 11px Arial, Helvetica, Geneva, sans-serif;
	
}

.emeta a img{

	border:none;

}

/**----- POSTS -----*/

.ebody a {

	height: 16px;
	margin-top: 0;
	font-size: 11px;
	color: #5de8ff;

}



.ebody img {

	padding: 4px;
	border: 1px solid #DFDFDF;

}

.ebody ul {

	margin-left: 20px;
	padding-left:0px;
	list-style-type: none;

}

.ebody ol{

	margin-left:20px;
	padding-left:0px;

}

.ebody ul li {

	list-style:square;

}


.ebody p{

	margin:8px 0;
	padding:0;

}

.ebody ul {

	margin-left: 30px;
	padding-left:0px;
	list-style-type: none;

}

.ebody ol{

	margin-left:30px;
	padding-left:0px;

}

.ebody ul li {

	list-style:square;

}